.main_01{
    display: flex;
    justify-content: center;
}

.main_02{
    font-size: 40px;
}

.main_03{
    padding:10px;
}

.main_04{
    font-size: 40px;
}

.main_05{
    padding:10px;
}


.main_06{
    border: none;
}

.main_07{
    border: none;
}

.main_08{
    display:block;
    top: -100px;
}
